<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Asignacion de especialista</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="row">

        <section class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">


                    <li class="active">
                        <a data-toggle="tab" href="#tabEmpresa">
                  Por Empresa
                </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tabCodigo" class="tab-pane fade in active">
                        <div class="row">
                            <section class="col-sm-12">


                                <form class="form">
                                    <fieldset>
                                        <section class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label"> Codigo de Solicitud </label>
                                                <div class="">
                                                    <input type="text" id="" placeholder="" class="col-sm-12" />
                                                </div>
                                            </div>
                                        </section>


                                    </fieldset>


                                    <footer class="form-actions">
                                        <div class="btn-group">
                                            <button class="btn btn-success" type="button">
                            <i class="ace-icon fa fa-registered"></i>
                            Buscar
                          </button>

                                            <button class="btn btn-warning" type="button">
                            <i class="ace-icon fa fa-eraser"></i>
                            Limpiar
                          </button>
                                        </div>


                                    </footer>




                                </form>
                            </section>
                        </div>
                    </div>