<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Estimacion</a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <section class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">


                    <li class="active">
                        <a data-toggle="tab" href="#tabEmpresa">
                  Por Empresa
                </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabCodigo" class="tab-pane fade in active">
                        <div class="row">
                            <section class="col-sm-12">
                                <form class="form" [formGroup]="C_Solicitud">
                                    <fieldset>
                                        <section class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label"> Codigo de Solicitud </label>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" formControlName="Solicitud" placeholder="Codigo" class="col-sm-12" />
                                                </div>
                                            </div>
                                        </section>
                                    </fieldset>

                                    <footer class="form-actions">
                                        <div class="btn-group">
                                            <button (click)="_Busqueda()" class="btn btn-success" type="button">
                            <i class="ace-icon fa fa-registered"></i>
                            Buscar
                          </button>

                                            <button class="btn btn-warning" type="button">
                            <i class="ace-icon fa fa-eraser"></i>
                            Limpiar
                          </button>
                                        </div>


                                    </footer>
                                </form>
                            </section>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Codigo Solicitud</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Descripcion Servicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of proyecto">
                                <td>{{e.codigo_Solicitud}}</td>
                                <td>{{e.razon_Social}}</td>
                                <td>{{e.descripcion_Servicio}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="tab-content">
                        <div class="col-xs-6">
                            <form [formGroup]="C_Plan"   class="form-horizontal" role="form">
        
                                <div class="form-group">
                                    <label class="col-sm-2 control-label " > Fecha de inicio: </label>
        
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="fecha_Inicio" type="datetime-local"  placeholder="dd/mm/aa" class="col-xs-15 col-sm-5" />
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" > Fecha de finalizacion: </label>
        
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="fecha_Fin" type="datetime-local"  placeholder="dd/mm/aa" class="col-xs-15 col-sm-5" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" > Cantidad de dias: </label>
        
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="dias_Monitoreo" type="number"  placeholder="1 - 365" class="col-xs-15 col-sm-5" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label " > Cantidad de analistas: </label>
        
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="cantidad_Analista" type="number"  placeholder="1 - 5" class="col-xs-15 col-sm-5" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" > Monto Viaticos: </label>
        
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="monto_Viaticos" type="number"  placeholder="Cantidad del monto" class="col-xs-15 col-sm-5" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" > Precio Final: </label>
        
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="precio_Final_Servicio" type="number" placeholder="Precio" class="col-xs-15 col-sm-5" />
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                <button (click)="_GuardarPlan()" class="btn btn-success btn-block">Agregar</button>
                <button class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
