<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Asignacion de especialista</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <form>
            <section class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">


                        <li class="active">
                            <a data-toggle="tab" href="#tabEmpresa">
                  Por Empresa
                </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tabCodigo" class="tab-pane fade in active">
                            <div class="row">
                                <section class="col-sm-12">


                                    <form class="form">
                                        <fieldset>
                                            <section class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="control-label"> Codigo de Proyecto </label>
                                                    <div class="">
                                                        <input type="number" id="" placeholder="" class="col-sm-12" name="Codigo_Solicitud" [(ngModel)]="persona.Codigo_Solicitud" required minlength="3">
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div>
                                                    <div class="btn-group">
                                                        <button class="btn btn-success" (click)="__ConsultaSolicitud()" type="button">
                                                        <i class="ace-icon fa fa-search"></i>
                                                            Buscar
                                                        </button>

                                                        <button class="btn btn-warning" type="button">
                                                            <i class="ace-icon fa fa-eraser"></i>
                                                            Limpiar
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>



                                        </fieldset>
                                        <app-informacion-solicitud></app-informacion-solicitud>







                                    </form>
                                </section>
                            </div>
                        </div>

                        <br>
                        <div class="tab-content">
                            <div class="col-xs-6">
                                <form class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label " for="form-field-1"> Analistas </label>

                                   
                                        <div class="col-xs-12 col-sm-6">

                                            <select class="chosen-select form-control" id="form-field-select-3" data-placeholder="Seleccione..." name="Codigo_Analista" [(ngModel)]="persona.Codigo_Analista">
                                    
                                                <option value="IA01">Luis Suarez Romero</option>
                                                <option value="IA02">Pedro Ruiz Solis</option>
                                                <option value="IA03">Yago Tejera Olmo</option>
                                                <option value="IA04">Felix Ropero-Dominguez</option>
                                                <option value="IA05">Federico Ferrero Vigil</option>
                                                <option value="IA06">Sabas Nacio Sabater Salom</option>
                                                <option value="IA07">Poncio Valentín Guitart Escolano</option>
                                                <option value="IA08">Tomás Pombo Silva</option>
                                                <option value="IA09">Fortunato Perelló Pinto</option>
                                                <option value="IA10">Marcos Cordero Borja</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label " for="form-field-1"> Cargo </label>

                                        <div class="col-xs-12 col-sm-6">
                                            <!-- <input type="text" id="form-field-1" placeholder="analistas" class="col-xs-15 col-sm-5" name="Cargo" [(ngModel)]="persona.Cargo" /> -->

                                            <select class="chosen-select form-control" id="cboCargo" data-placeholder="" name="Cargo" [(ngModel)]="persona.Cargo">
                                            
                                                <option value="JEFE">JEFE</option>
                                                <option value="SUPERVISOR">SUPERVISOR</option>
                                                <option value="OPERARIO">OPERARIO</option>                                                
                                                <option value="ASISTENTE">ASISTENTE</option>
                                                <option value="GUIA">GUIA</option>                                    
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label " for="form-field-1"> Descripción de Tarea </label>

                                        <div class="col-sm-10">
                                            <input type="text" id="form-field-1" placeholder="Tarea" class="col-xs-12 col-sm-12" name="Tarea_Asignada" [(ngModel)]="persona.Tarea_Asignada" />
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <button class="btn btn-primary col-sm-2" style="margin-left: 146px" (click)="guardar()">Agregar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="tab-content">
                            <div>
                                <div class="col-xs-12">
                                    <form action="" [formGroup]="projectForm">

                                        <table id="simple-table" class="table  table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="center">CODIGO DE SOLICITUD</th>
                                                    <th>COD. ANALISTA</th>
                                                    <th>CARGO</th>
                                                    <th>TAREA ASIGNADA</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let persona of personas">
                                                    <td>{{persona.Codigo_Solicitud}}</td>
                                                    <td>{{persona.Codigo_Analista}}</td>
                                                    <td>{{persona.Cargo}}</td>
                                                    <td>{{persona.Tarea_Asignada}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>


                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-block" (click)="__onSubmit() ">Asignar</button>
                                <button class="btn btn-danger btn-block">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>