<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Asignacion de especialista</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <form [formGroup]="projectForm">
            <section class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">


                        <li class="active">
                            <a data-toggle="tab" href="#tabEmpresa">
                  Por Empresa
                </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tabCodigo" class="tab-pane fade in active">
                            <div class="row">
                                <section class="col-sm-12">


                                    <form class="form">
                                        <fieldset>
                                            <section class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="control-label"> Codigo de Proyecto </label>
                                                    <div class="">
                                                        <input type="text" id="" placeholder="" class="col-sm-12" name="proyecto" [(ngModel)]="persona.proyecto" />
                                                    </div>
                                                </div>
                                            </section>


                                        </fieldset>


                                        <footer class="form-actions">
                                            <div class="btn-group">
                                                <button class="btn btn-success" type="button">
                            <i class="ace-icon fa fa-registered"></i>
                            Buscar
                          </button>

                                                <button class="btn btn-warning" type="button">
                            <i class="ace-icon fa fa-eraser"></i>
                            Limpiar
                          </button>
                                            </div>


                                        </footer>




                                    </form>
                                </section>
                            </div>
                        </div>

                        <br>
                        <div class="tab-content">
                            <div class="col-xs-6">
                                <form class="form-horizontal" role="form">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label " for="form-field-1"> Analistas </label>

                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div class="col-xs-15 col-sm-5">

                                                    <select class="chosen-select form-control" id="form-field-select-3" data-placeholder="Choose a State..." name="analistas" [(ngModel)]="persona.analistas">
                                            <option value="">  </option>
                                            <option value="Daniel Angeles">Daniel Angeles</option>
                                            <option value="ADaniel ÑahuisL">Daniel Ñahuis</option>
                                            <option value="Hassel Muñoz">Hassel Muñoz</option>
                                            <option value="Juan Damian">Juan Damian</option>
                                            <option value="Alexander Sabrera">Alexander Sabrera</option>
                                            
                                        </select>
                                                </div>
                                            </div>

                                        </div>



                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label " for="form-field-1"> Cargo </label>

                                        <div class="col-sm-10">
                                            <input type="text" id="form-field-1" placeholder="analistas" class="col-xs-15 col-sm-5" name="cargo" [(ngModel)]="persona.cargo" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label " for="form-field-1"> Tarea asignada </label>

                                        <div class="col-sm-10">
                                            <input type="text" id="form-field-1" placeholder="analistas" class="col-xs-15 col-sm-5" name="tarea" [(ngModel)]="persona.tarea" />
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <button class="btn btn-primary col-sm-2" style="margin-left: 146px" (click)="guardar()">Agregar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="tab-content">
                            <div>
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    CODIGO DE SOLICITUD
                                                </th>

                                                <th>ANALISTA</th>
                                                <th>CARGO</th>
                                                <th>TAREA ASIGNADA</th>




                                                <th>REGISTRO</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let persona of personas">
                                                <td>{{persona.proyecto}}</td>
                                                <td>{{persona.analistas}}</td>
                                                <td>{{persona.cargo}}</td>
                                                <td>{{persona.tarea}}</td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">
                                                        <button class="btn btn-xs btn-success">
                                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                                    </button>

                                                        <button class="btn btn-xs btn-info">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </button>

                                                        <button class="btn btn-xs btn-danger">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>

                                                        <button class="btn btn-xs btn-warning">
                                                        <i class="ace-icon  fa fa-search-plus bigger-130"></i>
                                                    </button>
                                                    </div>

                                                    <div class="hidden-md hidden-lg">
                                                        <div class="inline pos-rel">
                                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                        </button>

                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                        <span class="blue">
                                                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                        <span class="green">
                                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                        <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>


                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button class="btn btn-success btn-block" (click)="__onSubmit()">Asignar</button>
                                <button class="btn btn-danger btn-block">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>