<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-search"></i>
        <a href="#"> &nbsp; Consulta Monitoreos</a>
      </li>      
    </ul>
  </div>

  <div class="page-content">
    <div class="row">

      <section class="col-sm-12"> 
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-toggle="tab" href="#tabCodigo">
                Busqueda
              </a>
            </li>
            
          </ul>

          <div class="tab-content">
            <div id="tabCodigo" class="tab-pane fade in active">
              <div class="row">
                <section class="col-sm-12">

                
                  <form class="form">
                    <fieldset>
                      <section class="col-sm-12">
                        <div class="form-group">
                          <label class="control-label" for="form-field-1"> Ingrese c&oacute;digo de Servicio o Nombre Cliente</label>
                          <div class="">                      
                            <input type="text" [(ngModel)]="CodigoServicio" name="CodigoServicio" id="form-field-1" placeholder="" class="col-sm-2" />
                          </div>                          
                        </div>

                      </section>
                    </fieldset>

                    
                      <footer class="form-actions">                        
                        <div class="btn-group">
                          <button (click)="__ConsultaServicio()" class="btn btn-success" type="button">
                          <i class="ace-icon fa fa-search"></i>
                          Buscar
                        </button>
                      
                        <button (click)="__Prueba()" class="btn btn-warning" type="button">
                          <i class="ace-icon fa fa-eraser"></i>
                          Limpiar
                        </button>
                        </div>    
                        
                        
                      </footer>

                    

                   
                  </form>                
                </section>
              </div>              
            </div>

            <!-- <div id="tabEmpresa" class="tab-pane fade">
              <div class="row">
                <section class="col-sm-12">
                  <form class="form">
                    <fieldset>
                      <section class="col-sm-2">
                        <div class="form-group">
                          <label class="control-label"> RUC</label>
                          <div class="">                      
                            <input type="text" id="" placeholder="" class="col-sm-12" />
                          </div>
                        </div>
                      </section >
                      

                      <section class="col-sm-4">
                        <div class="form-group">
                          <label class="control-label"> Razon Social</label>
                          <div class="">                      
                            <input type="text" id="" placeholder="" class="col-sm-12" />
                          </div>
                        </div>
                      </section >
  
                    </fieldset>

                    <footer class="form-actions">                        
                      <div class="btn-group">
                        <button (click)="__ConsultaServicio()" class="btn btn-success" type="button">
                        <i class="ace-icon fa fa-search"></i>
                        Buscar
                      </button>
                    
                      <button class="btn btn-warning" type="button">
                        <i class="ace-icon fa fa-eraser"></i>
                        Limpiar
                      </button>
                      </div>    
                      
                      
                    </footer>

                  </form>
                </section>
              </div>  
              
            </div> -->

          </div>
        </div>

      </section >

      <app-table-ordenes-servicio></app-table-ordenes-servicio>

      <app-informacion-proyecto></app-informacion-proyecto>

      
      

    </div>
  </div>