<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-info"></i>
            <a href="#"> &nbsp; Devolución de equipos</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="container">
        <div style="margin-top: 50px">

            <div class="row mt-5">
                <div class="col-md-3 ">
                    <button type="button" class="btn btn-default "><span class="fa fa-plus-circle"></span> Nuevo informe</button>
                    <br>
                    <br>
                    <div class="">

                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                        </form>
                    </div>
                </div>
                <span style="border-left: solid 4px rgb(125, 125, 125); height: 500px;" class="col-md-1">

                </span>
                <div class="col-md-7 shadow p-3 mb-5 bg-white rounded scroll-test ">
                    <table class="table table-bordered" style="margin-top: 10px">
                        <thead>
                            <tr>
                                <th>Cod. de solicitud</th>
                                <th>Responsable</th>
                                <th>Fecha de ejecución</th>
                                <th>Puntos y parámetros</th>
                                <th>Lista de equipos</th>
                                <th>Analista de monitoreo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>000515548</td>
                                <td>Doe</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Moe</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Dooley</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Doe</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Moe</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Dooley</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Doe</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Moe</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                            <tr>
                                <td>000544884</td>
                                <td>Dooley</td>
                                <td>24/05/2015</td>
                                <td>------</td>
                                <td>Equipo 1</td>
                                <td>Analista 1</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div class="w-50" style="margin: 0 auto">

                            <button type="button" class="btn btn-primary btn-lg btn-block">Generar</button>
                            <button type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>