<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h3>APROBACION DE SOLICITUD</h3>
        </div>
    </div>
    <div class="row">
      <div class="col"><h4>DATOS DEL CLIENTE</h4></div>
    </div>
    <div class="row">
      <div class="col-4"><h5>EMPRESA</h5></div>
      <div class="col-8"><h5>ALS LS PERU SAC</h5></div>
    </div>
    <div class="row">
      <div class="col-4"><h5>RUC</h5></div>
      <div class="col-8"><h5>20504979092</h5></div>
    </div>
    <div class="row">
      <div class="col-4"><h5>E-mail</h5></div>
      <div class="col-8"><h5>Daniel_Nahuis@als.com.pe</h5></div>
    </div>
    <div class="row">
      <div class="col"><h4>EQUIPOS</h4></div>
    </div>
    <div class="row">
      <div class="col-4"><h6>Hivol</h6></div>
      <div class="col-4"><h6>Estacion Metereologica</h6></div>
      <div class="col-4"><h6>Analizador Automatico</h6></div>
      <div class="col-4"><h6>Generador Electrico</h6></div>
      <div class="col-4"><h6>Lowvol</h6></div>
      <div class="col-4"><h6>Tren de Muestreo</h6></div>
      <div class="col-4"><h6>Multiparametro</h6></div>
      <div class="col-4"><h6>Colorimetro</h6></div>
      <div class="col-4"><h6>Turbidimetro</h6></div>
      <div class="col-4"><h6>Correntometro</h6></div>
      <div class="col-4"><h6>Sonda de Interface</h6></div>
      <div class="col-4"><h6>Sonometro</h6></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><a class="btn btn-primary" href="#" role="button">Aprobar</a></div>
      <div class="col-4"><a class="btn btn-danger" href="#" role="button">Rechazar</a></div>
      <div class="col-4"></div>
    </div>
  </div>
