<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Registrar solicitud</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <!-- (ngSubmit)="__onSubmit()" -->
        <div>
            <section class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tabEmpresa">
                            Cliente
                        </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tabCodigo" class="tab-pane fade in active">
                            <div class="row">
                                <section class="col-sm-12">
                                    <form class="form" [formGroup]="formCliente">
                                        <fieldset>
                                            <section class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label"> RUC</label>
                                                    <div class="">
                                                        <input type="text" id="" placeholder="" class="col-sm-12" formControlName="Ruc_Cliente" />
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label"> Razon Social</label>
                                                    <div class="">
                                                        <input type="text" id="" placeholder="" class="col-sm-12" formControlName="Razon_Social" />
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label "> Correo: </label>

                                                    <div class="">
                                                        <input type="email" id="" placeholder="Username@mail.com" class="col-sm-12" formControlName="Correo" />
                                                    </div>
                                                </div>
                                            </section>

                                            <section class="col-sm-3">

                                                <div class="form-group">
                                                    <label class="control-label"> Teléfono:
                                                </label>

                                                    <div class="">
                                                        <input type="text" id="" placeholder="+51999999999" class="col-sm-12" formControlName="Telefono" />
                                                    </div>
                                                </div>
                                            </section>

                                            <section class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label" for=""> Contacto: </label>

                                                    <div class="">
                                                        <input type="text" id="" placeholder="Nombre de contacto" class="col-sm-12" formControlName="Contacto" />
                                                    </div>
                                                </div>
                                            </section>
                                        </fieldset>
                                    </form>
                                </section>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>


                <div class="tab-content">
                    <h2 class="col-xs-12">Información del Servicio</h2>
                    <br>
                    <div class="row">
                        <section class="col-sm-12">
                            <form class="form" role="form" [formGroup]="formServicio">
                                <br>
                                <fieldset>
                                    <section class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label "> Fecha tentativa: </label>
                                            <div class="">
                                                <input type="date" placeholder="Username@mail.com" class="col-sm-12" formControlName="fecha_Tentativa" />
                                            </div>
                                        </div>
                                    </section>

                                    

                                    <section class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label"> Tipo de servicio:
                                        </label>

                                            <div class="">
                                                <select id="inputState" class="col-sm-12" formControlName="cod_Servicio">
                                                <option value="S001">MONITOREO AGUA</option>
                                                <option value="S002">MONITOREO AIRE</option>
                                                <option value="S003">MONITOREO RUIDO</option>
                                                <option value="S004">MONITOREO EMISIONES</option>
                                                <option value="S005">MONITOREO OCUPACIONAL</option>
                                            </select>
                                            </div>

                                        </div>
                                    </section>

                                    
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
                <br>

                <div class="tab-content">
                    <h2 class="col-xs-12">Lugares de Muestreo</h2>
                    <br>
                    <div class="row">
                        <section class="col-sm-12">
                            <form class="form" role="form">
                                <br>
                                <fieldset>
                                    <section class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label "> Lugar de muestreo </label>
                                            <div class="">
                                                <input type="text" placeholder="Lugar..." class="col-sm-12" name="lugar_Muestreo" [(ngModel)]="persona.lugar_Muestreo" />
                                            </div>
                                        </div>
                                    </section>

                                    <section class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label "> Coordenada Longitud </label>
                                            <div class="">
                                                <input type="text" placeholder="80.6665520" class="col-sm-12" name="coordenada_Lontigitud" [(ngModel)]="persona.coordenada_Lontigitud" />
                                            </div>
                                        </div>
                                    </section>

                                    <section class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label "> Coordenada Latitud </label>
                                            <div class="">
                                                <input type="text" placeholder="60.0525505" class="col-sm-12" name="coordenada_Latitud" [(ngModel)]="persona.coordenada_Latitud" />
                                            </div>
                                        </div>
                                    </section>
                                    <section class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label " for=""> Nombre del punto </label>
                                            <div class="">
                                                <input type="text" id="" placeholder="Nombre del punto" class="col-sm-12 form-control" name="nombre_Punto" [(ngModel)]="persona.nombre_Punto" />
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </section>
                                    <div class="form-group">

                                        <button class="btn btn-primary col-sm-2" style="margin-left: 10px" (click)="guardar()">Agregar</button>
                                    </div>

                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
                <br>
                <div class="tab-content">
                    <div>
                        <div class="col-xs-12">
                            <form action="" [formGroup]="LugaresMuestro">

                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">Lugar de muestreo</th>
                                            <th>Longitud</th>
                                            <th>Latitud</th>
                                            <th>Nombre del punto</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let persona of personas">
                                            <td>{{persona.lugar_Muestreo}}</td>
                                            <td>{{persona.coordenada_Lontigitud}}</td>
                                            <td>{{persona.coordenada_Latitud}}</td>
                                            <td>{{persona.nombre_Punto}}</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </form>


                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block" (click)="__onSubmit() ">Registrar</button>
                        <button class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>


<script>
</script>