<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Registrar solicitud</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <main class="container">
        <div class="recuadro shadow p-3 mb-5 bg-white rounded">
            <div class="recuadro-centro">
                <br>



                <br>

                <div class="tittle-analistas mt-n1">
                    <h2>REGISTRO DE SOLICITUDES DE SERVICIO</h2>
                </div>

                <br>
                <!-- DATOS DE RAZÓN SOCIAL -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Razón social: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="static" placeholder="Razón social...">
                    </div>
                </div>
                <br>
                <!-- DATOS DE RUC -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">RUC: </label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="static" placeholder="RUC...">
                    </div>
                </div>
                <br>
                <!-- DATOS DNI -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Correo: </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="static" placeholder="test@test.com">
                    </div>
                </div>
                <br>

                <!-- DATOS DE TELÉFONO -->

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Teléfono: </label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="static" placeholder="2555555">
                    </div>
                </div>
                <br>



                <div>
                    <div>
                        <div class="tittle-analistas mt-n1 text-center">
                            <h2>Plan de Servicio</h2>
                        </div>
                    </div>

                    <br>

                    <!-- Servicio -->
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Tipo de Servicio: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="static" placeholder="*****">
                        </div>
                    </div>
                    <br>
                    <!-- Parámetros -->
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Parámetros: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="static" placeholder="*****">
                        </div>
                    </div>
                    <br>
                    <!-- DATOS DNI -->
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Coordinadas de monitoreo: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="static" placeholder="*****">
                        </div>
                    </div>
                    <br>

                </div>
            </div>
            <br>
            <div>
                <div class="w-50" style="margin: 0 auto">

                    <button type="button" class="btn btn-primary btn-lg btn-block">Registrar</button>
                    <button type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
                </div>
            </div>


        </div>

    </main>
</div>