<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-desktop"></i>
            <a href="#"> &nbsp; Devolución de equipos</a>
        </li>
    </ul>
</div>


<div class="page-content">
    <div class="row">

        <section class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">


                    <li class="active">
                        <a data-toggle="tab" href="#tabEmpresa">
                  Por Empresa
                </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tabCodigo" class="tab-pane fade in active">
                        <div class="row">
                            <section class="col-sm-12">
                                <form [formGroup]="C_Solicitud" class="form">
                                    <fieldset>
                                        <section class="col-sm-2">
                                            <div class="form-group">
                                                <label class="control-label"> Codigo de Solicitud </label>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" formControlName="Solicitud" placeholder="Solicitud" class="col-sm-12" />
                                                </div>
                                            </div>
                                        </section>


                                    </fieldset>
                                    <footer class="form-actions">
                                        <div class="btn-group">
                                            <button (click)=" __ConsultaServicio()" class="btn btn-success" type="button">
                                    <i class="ace-icon fa fa-registered"></i>
                                     Buscar
                                    </button>
                                            <button class="btn btn-warning" type="button">
                                    <i class="ace-icon fa fa-eraser"></i>
                                    Limpiar
                                    </button>
                                        </div>

                                    </footer>

                                    <app-informacion-solicitud></app-informacion-solicitud>


                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-sm-12">
            <div class="">
                <!-- EQUIPOS ASIGNADOS -->
                <div>
                    <div>
                        <div class="tittle-analistas mt-n1 ">
                            <br>
                            <h4>Equipos Asignados</h4>
                        </div>
                    </div>

                    

                    <!-- TABLA -->
                    <div class="">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Equipo</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Estado Equipo</th>
                                    <th scope="col">Ubicacion</th>
                                    <th scope="col">Fecha_Salida</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of equipos, let i=index">
                                    <th scope="row">

                                        <div>
                                            <input class="form-check-input" type="checkbox" (change)="_cambio($event)" [value]="i" [checked]="e.checked" id="checkboxNoLabel" style="position: static; margin-left: 0px" />
                                        </div>


                                    </th>
                                    <td>{{e.codigo_Equipo}}</td>
                                    <td>{{e.descripcion_Equipo}}</td>
                                    <td>{{e.estado}}</td>
                                    <td>{{e.ubicacion}}</td>
                                    <td>{{e.fecha_Salida}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>

        </section>

        <section class="col-sm-12">
            <div class="text-center">
                <button (click)="_EjecutarDevolucion()" class="btn btn-success btn-block" type="button">Registrar devolución de Equipos Seleccionados</button>
                <button (click)="refresh()" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </section>
    </div>
</div>