<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-desktop"></i>
            <a href="#"> &nbsp; Devolución de equipos</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <main class="container">
        <div class="recuadro shadow p-3 mb-5 bg-white rounded">
            <div class="recuadro-centro">
                <br>
                <div class="">

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>


                <br>

                <div class="tittle-analistas mt-n1">
                    <h2>DATOS DEL ANALISTA</h2>
                </div>

                <br>
                <!-- DATOS DE NOMBRES -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="static" value="Nombres...">
                    </div>
                </div>
                <br>
                <!-- DATOS DE APELLIDOS -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Apellidos</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="static" value="Apellidos...">
                    </div>
                </div>
                <br>
                <!-- DATOS DNI -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">DNI</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="static" value="DNI...">
                    </div>
                </div>
                <br>



                <!-- EQUIPOS ASIGNADOS -->
                <div>
                    <div>
                        <div class="tittle-analistas mt-n1 text-center">
                            <h2>Equipos Asignados</h2>
                        </div>
                    </div>

                    <br>

                    <!-- TABLA -->
                    <div class="scroll-test">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Estado</th>
                                    <th scope="col">N° Solicitud</th>
                                    <th scope="col">Responsable</th>
                                    <th scope="col">Nombre del equipo</th>
                                    <th scope="col">Descripción del equipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" style="position: static; margin-left: 0px" />
                                        </div>
                                    </th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Descripción...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div class="w-50" style="margin: 0 auto">

                    <button type="button" class="btn btn-primary btn-lg btn-block">Aceptar</button>
                    <button type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
                </div>
            </div>


        </div>

    </main>
</div>