<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
      <li>
          <i class="ace-icon fa fa-registered"></i>
          <a href="#"> &nbsp; Estimacion</a>
      </li>
  </ul>
</div>

<div class="page-content">
  <div class="row">

      <section class="col-sm-12">
          <div class="tabbable">
              <ul class="nav nav-tabs" id="myTab">


                  <li class="active">
                      <a data-toggle="tab" href="#tabEmpresa">
                Por Empresa
              </a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div id="tabCodigo" class="tab-pane fade in active">
                      <div class="row">
                          <section class="col-sm-12">


                              <form class="form">
                                  <fieldset>
                                      <section class="col-sm-2">
                                          <div class="form-group">
                                              <label class="control-label"> Codigo de Solicitud </label>
                                              <div class="">
                                                  <input type="text" id="" placeholder="" class="col-sm-12" />
                                              </div>
                                          </div>
                                      </section>


                                  </fieldset>


                                  <footer class="form-actions">
                                      <div class="btn-group">
                                          <button class="btn btn-success" type="button">
                          <i class="ace-icon fa fa-registered"></i>
                          Buscar
                        </button>

                                          <button class="btn btn-warning" type="button">
                          <i class="ace-icon fa fa-eraser"></i>
                          Limpiar
                        </button>
                                      </div>


                                  </footer>




                              </form>
                          </section>
                      </div>
                  </div>


<div class="page-content">
  <div class="row">
      <div class="col-12" style="text-align: center;">
          <h3>SOLICITUD DE EQUIPOS</h3>
      </div>
  </div>
  <div class="row">
    <div class="col"><h4>DATOS DEL CLIENTE</h4></div>
  </div>
  <div class="row">
    <div class="col-lg-4"><h5>EMPRESA</h5></div>
    <div class="col-lg-8"><h5>ALS LS PERU SAC</h5></div>
  </div>
  <div class="row">
    <div class="col-lg-4"><h5>RUC</h5></div>
    <div class="col-lg-8"><h5>20504979092</h5></div>
  </div>
  <div class="row">
    <div class="col-lg-4"><h5>E-mail</h5></div>
    <div class="col-lg-8"><h5>Daniel_Nahuis@als.com.pe</h5></div>
  </div>
  <div class="row">
    <div class="col"><h4>EQUIPOS</h4></div>
  </div>
  <div class="row">
    <div class="col-lg-4"><h6>Hivol</h6></div>
    <div class="col-lg-4"><h6>Estacion Metereologica</h6></div>
    <div class="col-lg-4"><h6>Analizador Automatico</h6></div>
    <div class="col-lg-4"><h6>Generador Electrico</h6></div>
    <div class="col-lg-4"><h6>Lowvol</h6></div>
    <div class="col-lg-4"><h6>Tren de Muestreo</h6></div>
    <div class="col-lg-4"><h6>Multiparametro</h6></div>
    <div class="col-lg-4"><h6>Colorimetro</h6></div>
    <div class="col-lg-4"><h6>Turbidimetro</h6></div>
    <div class="col-lg-4"><h6>Correntometro</h6></div>
    <div class="col-lg-4"><h6>Sonda de Interface</h6></div>
    <div class="col-lg-4"><h6>Sonometro</h6></div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="padding-top:30px;"><a class="btn btn-primary" href="#" role="button" >Aceptar</a></div>
    <div class="col-lg-4" style="padding-top:30px;"><a class="btn btn-danger" href="#" role="button">Cancelar</a></div>
    <div class="col-lg-4"></div>
  </div>
</div>


<br>
<div class="text-center">
    <button class="btn btn-success btn-block">Agregar</button>
    <button class="btn btn-danger btn-block">Cancelar</button>
</div>