<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-registered"></i>
            <a href="#"> &nbsp; Solicitud de Equipos</a>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="row">
        <form>
            <section class="col-sm-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">


                        <li class="active">
                            <a data-toggle="tab" href="#tabEmpresa">
                            Búsqueda
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tabCodigo" class="tab-pane fade in active">
                            <div class="row">
                                <section class="col-sm-12">


                                    <form class="form">
                                        <fieldset>
                                            <section class="col-sm-2">
                                                <div class="form-group">
                                                    <label class="control-label"> Codigo de Proyecto </label>
                                                    <div class="">
                                                        <input type="number" id="" placeholder="" class="col-sm-12" name="Codigo_Solicitud" [(ngModel)]="persona.Codigo_Solicitud" required minlength="3">
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div>
                                                    <div class="btn-group">
                                                        <button class="btn btn-success" (click)="__ConsultaSolicitud()" type="button">
                                                        <i class="ace-icon fa fa-registered"></i>
                                                        Buscar
                                                    </button>

                                                        <button (click)="refresh()" class="btn btn-warning" type="button">
                                                            <i class="ace-icon fa fa-eraser"></i>
                                                            Limpiar
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>



                                        </fieldset>
                                        <app-informacion-solicitud></app-informacion-solicitud>







                                    </form>
                                </section>
                            </div>
                        </div>

                        <br>
                        <div class="tab-content">
                            <div class="row">

                                <div class="col-sm-12">
                                    <form class="form" role="form">
                                        
                                        <section class="col-sm-3">

                                            <div class="form-group">
                                                <label class="control-label "> Código Equipo </label>

                                                <div>
                                                    <input type="text" id="form-field-1" placeholder="" class="col-sm-12" name="equipo" [(ngModel)]="persona.equipo" />
                                                </div>
                                            </div>
                                        </section>

                                        <section class="col-sm-3">

                                            <div class="form-group">
                                                <label class="control-label " for="form-field-1"> Cantidad </label>

                                                <div>
                                                    <input type="number" id="form-field-1" placeholder="" class="col-sm-12" name="cantidad" [(ngModel)]="persona.cantidad" />
                                                </div>
                                            </div>
                                        </section>

                                        <section class="col-sm-3">

                                            <div class="form-group">
                                                <label class="ontrol-label " for="form-field-1"> Matriz </label>

                                                <div>
                                                    <input type="text" id="form-field-1" placeholder="" class="col-sm-12" name="matriz" [(ngModel)]="persona.matriz" />
                                                </div>
                                            </div>
                                        </section>

                                        <section class="col-sm-3">

                                            <div class="form-group">
                                                <label class="control-label " for="form-field-1"> Fecha de salida </label>

                                                <div>
                                                    <input type="date" id="form-field-1" placeholder="analistas" class="col-sm-12" name="fecha_Salida" [(ngModel)]="persona.fecha_Salida" />
                                                </div>
                                            </div>
                                        </section>

                                        <section class="col-sm-3">

                                            <div class="form-group">
                                                <label class="control-label " for="form-field-1"> Fecha de Retorno </label>

                                                <div>
                                                    <input type="date" id="form-field-1" placeholder="analistas" class="col-sm-12" name="fecha_Retorno" [(ngModel)]="persona.fecha_Retorno" />
                                                </div>
                                            </div>
                                        </section>

                                        <section class="col-sm-2">

                                            <label class="control-label" for=""></label>
                                            <div class="form-group">

                                                <button class="btn btn-primary col-sm-10" (click)="Agregar()">Agregar</button>
                                            </div>
                                        </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="tab-content">
                            <div>
                                <div class="col-xs-12">
                                    <form action="" [formGroup]="projectForm">

                                        <table id="simple-table" class="table  table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="center">CODIGO DE SOLICITUD</th>
                                                    <th>EQUIPO</th>
                                                    <th>CANTIDAD</th>
                                                    <th>MATRIZ</th>
                                                    <th>FECHA DE SALIDA</th>
                                                    <th>FECHA DE RETORNO</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let persona of personas">
                                                    <td>{{persona.Codigo_Solicitud}}</td>
                                                    <td>{{persona.equipo}}</td>
                                                    <td>{{persona.cantidad}}</td>
                                                    <td>{{persona.matriz}}</td>
                                                    <td>{{persona.fecha_Salida}}</td>
                                                    <td>{{persona.fecha_Retorno}}</td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </form>


                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-block" (click)="__onSubmit() ">Ingresar Solicitud</button>
                                <button class="btn btn-danger btn-block">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>