<section *ngIf="proyecto != null" id="Cabecera" class="">

    <article class="col-xs-12 col-sm-6">
        <div class="space-12"></div>

        <div id="InforCliente" class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> RUC CLIENTE </div>
                <div class="profile-info-value">
                    <span id="username">{{proyecto.ruc_Cliente}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> CLIENTE </div>

                <div class="profile-info-value">                    
                    <span id="">{{proyecto.razon_Social}}</span>                    
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"><i class="fa fa-user"></i> &nbsp; CONTACTO</div>
                <div class="profile-info-value">
                    <span id="age">{{proyecto.contacto}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> CORREO </div>

                <div class="profile-info-value">
                    <span id="signup">{{proyecto.correo}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> <i class="fa fa-phone"></i> &nbsp; TELEFONO </div>
                <div class="profile-info-value">
                    <span class="editable" id="">{{proyecto.telefono}}</span>
                </div>
            </div>

        </div>

        <div class="space-20"></div>
    </article>

    <article class="col-xs-12 col-sm-6">
        <div class="space-12"></div>

        <div id="InfoServicio" class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> SERVICIO </div>
                <div class="profile-info-value">
                    <span id="username">{{proyecto.codigo_Servicio}} {{proyecto.descripcion_Servicio}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> <i class="fa fa-calendar"></i> &nbsp; PLAZO </div>

                <div class="profile-info-value">                    
                    <span id="">{{proyecto.fecha_Inicio}} al {{proyecto.fecha_Fin}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"><i class="fa fa-money"></i> &nbsp; PRECIO</div>
                <div class="profile-info-value">
                    <span id="age"> S/ {{proyecto.precio_Final_Servicio}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"><i class="fa fa-money"></i> &nbsp; VI&Aacute;TICOS </div>

                <div class="profile-info-value">
                    <span id="signup"> S/ {{proyecto.monto_Viaticos}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">  ESTADO </div>
                <div class="profile-info-value">
                    <span class="editable" id="">{{proyecto.estado_Solicitud}}</span>
                </div>
            </div>
        </div>

        <div class="space-20"></div>
    </article>
</section>

<section *ngIf="proyecto != null" id="Datalles" class="">
    

    <article class="col-xs-12 col-sm-4">
        
        <div id="LugaresMuestres" class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title blue smaller">
                    <i class="ace-icon fa fa-globe green"></i>
                    Lugares muestreo
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div id="profile-feed-0" class="profile-feed listProject">
                        
                        <div *ngFor="let lugar of proyecto.lugaresMuestreo" class="profile-activity clearfix">
                            <div> 
                                <a class="user"> {{lugar.lugar_Muestreo}}</a>  -                                 
                                <a class="user"> {{lugar.nombre_Punto}} </a>

                                <div class="time">
                                    <i class="ace-icon glyphicon glyphicon-map-marker bigger-110"></i>
                                    Latitud: {{lugar.coordenada_Latitud}}, Longitud: {{lugar.coordenada_Longitud}}                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="hr hr2 hr-double"></div>
    </article>


    <article class="col-xs-12 col-sm-4">
        <div id="Analistas" class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title blue smaller">
                    <i class="ace-icon fa fa-users green"></i>
                    Analistas a cargo
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div id="profile-feed-1" class="profile-feed listProject">
                        <div *ngFor="let analista of proyecto.analistas" class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="" src="assets/images/avatars/avatar2.png" />
                                <a class="user" > {{analista.nombre_Analista}} </a>
                                <div class="time">                                    
                                    <a>{{analista.grado_Instruccion}}</a>, Tarea: {{analista.tarea_Asignada}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hr hr2 hr-double"></div>
    </article>

    <article class="col-xs-12 col-sm-4">
        <div id="Equipos" class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title blue smaller">
                    <i class="ace-icon fa fa-briefcase green"></i>
                    Equpos Utilizados
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div id="profile-feed-2" class="profile-feed listProject">
                        
                        <div *ngFor="let equipo of proyecto.equipos" class="profile-activity clearfix">
                            <div>                                
                                
                                <a class="user" > {{equipo.codigo_Equipo}}	{{equipo.descripcion_Equipo}} </a> - {{equipo.estado}}
                                <div class="time">
                                    <i class="ace-icon glyphicon glyphicon-barcode"></i>
                                    Marca: {{equipo.marca}}, Modelo: {{equipo.modelo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hr hr2 hr-double"></div>
    </article>

    
</section>
